extend layout
append head
  script(src='achieve.js')
  script(src='calc.js')
  link(rel='stylesheet', href='calc.css')
  
block content
  .total
    button.request Contact For Scheduling
    h1.label Base Rate
    #base-rate 200
    h1.label Your Discounts:
    #discounts
    h1.label Total:
    .cost 

  .discount.template(style='display:none')
    .value 10
    .achievement
      .title Meet and Greet
      .description Meeting up once every two months can be useful.

  .container
    h1.title 255 BITS Consulting
    .control
      .label Fill out the form to see our hourly cost
      h1.question Technology
      .choice-list
        .choice
          .title New Technology
          .description Includes use of one or more of the following technologies:
            | HTML5, CSS3, CoffeeScript, Less/Stylus/Sass/Scss,
            | Ruby, Node.js, Vert.x, Scala, F#
            | MongoDB or other NoSQL database
        .choice
          .title Older Technology
          .description Includes use of one or more of the following technologies:
            | Java, IE 6-9, SVN, CVS, SQL

    .control
      h1.question Source control
      .choice-list
        .choice
          .title Git or Mercurial or a distributed DB

        .choice
          .title SVN or CVS or other

    .control
      h1.question Code base
      .choice-list
        .choice
          .title None Yet
          .description The codebase is in either the extremely early stages or
            | non existent.
          .discount(name='no_codebase')

        .choice
          .title In-Progress
          .description The codebase is under active development by one or more
            | full time developers that aren't offshore.
            
        .choice
          .title In-Progress(Offshore)
          .description The codebase is under active development by one or more
            | full time developers that are offshore.

        .choice
          .title Legacy Application Maintenance
          .description The codebase is in the maintenance phase, and new
            | features may or may not be desired.

    .control
      h1.question Number Of Developers
      .choice-list
        .choice
          .title 1-5
          .description There are a limited number of talented engineers that 255
            | BITS consultants will work with.

        .choice
          .title 6-10
          .description There is a large team to work with.

        .choice
          .title 0
          .description We will need 255 BITS to champion development.
          .discount(name='no_developers')

    .control
      h1.question Travel
      .choice-list
        .choice
          .title None or Infrequent
          .description All work is remote or on-site in Denver, CO.

        .choice
          .title Monthly
          .description Once a month weekly travel will be required.
            | Travel must be re-imbursed or additional charges will apply.
            
        .choice
          .title Bi-Monthly
          .description Once every two months weekly travel will be required.
            | Travel must be re-imbursed or additional charges will apply.

    .control
      h1.question Startup
      .choice-list
        .choice
          .title We are a startup
          .description If the company is in an early round of funding, or has less
            | 10 employees.

        .choice
          .title Past initial startup
          .description The company has made it past the startup phase, either recently
            | or a long time ago.

    .control
      h1.question Product team
      .choice-list
        .choice
          .title 1-3 People
          .description 1-3 people will be involved in weekly demos.

        .choice
          .title 4-6 people
          .description 4-6 people will be involved in weekly demos.

        .choice
          .title More than 6 people
          .description More than 6 people will be involved in weekly demos.

    .control
      h1.question Joel Test Score
      .choice-list
        .choice
          .title 9-12
          .description We have our organization completely together.

        .choice
          .title 4-8
          .description Things are going well, but there's always room to improve.

        .choice
          .title 0-3
          .description We are getting our act together and could use help.

    .control
      h1.question Located
      .choice-list
        .choice
          .title Denver
          .description

        .choice
          .title Other
          .description

    .control
      h1.question Contract Length
      .choice-list
        .choice
          .title < 1 Month

        .choice
          .title 1-3 Months

        .choice
          .title 3-6 Months

        .choice
          .title +6 Months
