extend layout
block content
  .container
    .packages
      .package
        .title Proof Of Concept
        .description Work with 255 BITS to build a proof of
          | concept product.
        .technologies Determined by 255 BITS

      .package
        .title Convert to Git
        .description Upgrade and train your team from your current
          | repository to git.
        .technologies CVS, SVN, Git
        .length 1 week

      .package.disabled
        .title Rails
        .description Need a rails consultant?  We can help.
        .technologies Ruby, Rails, AWS or similar
        .length Up to you

      .package
        .title FrontEnd project
        .description There are a lot of great new things with
          | HTML and CSS3.  Let us help you navigate and build
          | front ends for it.
        .technologies HTML5, CSS3, CoffeeScript/JavaScript, Mobile/Desktop

      .package
        .title Estimate
        .description Estimate 255 BIT Consultant hourly cost.
        .technologies Any supported

    #supported-technologies
      .languages
        .language Ruby
        .language JavaScript
        .language CoffeeScript
        .language F#
        .language C#
        .language Java
        .language SQL

      .databases
        .database MongoDB
        .database Redis
        .database PostGreSQL
        .database MySQL

      .frameworks
        .framework NodeJS
        .framework Rails
        .framework Socket.io

      .targets
        .target HTML5
        .target CSS3
        .target Mobile(Responsive Layout)
        .target Amazon Web Services

      .platforms
        .platform Windows
        .platform Unix/Linux
        .platform OSX
        .platform Facebook
        .platform iOS Phone
        .platform iOS Tablet
        .platform Android
        .platform Android Tablet

      .techniques
        .technique Agile
        .technique Test-Driven Development(TDD)
        .technique Behavior-Driven Development(BDD)

      .scms
        .scm Git
        .scm SVN
        .scm CVS
